In [1]:
import numpy as np
import pandas as pd

# Data preprocesing

The data on Toronto Postal Codes was retrieved from the wikipedia entry and loaded into a `.csv` file

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
#loading the csv flie and renaming the columns
codes_df = pd.read_csv('Toronto_Postal_Codes_Wikipedia.csv', header=None)
codes_df.columns = ['PostalCode', 'Borough', 'Neighborhood']
codes_df.head()

  PostalCode           Borough       Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [3]:
#removing the 'Not assigned' entries for the 'Borough' column
codes_df.drop(codes_df[codes_df['Borough']=='Not assigned'].index, inplace=True)
codes_df.head()

  PostalCode           Borough       Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [4]:
#There are no 'Not assigned' entries left for 'Neighborhood'
codes_df[codes_df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [5]:
#a function to convert a list into a string separated with commas
def listtostr(L):
    N = len(L)
    if N==0:
        return ''
    R = L[0]
    for i in range(1,N):
        R = R + ', ' + L[i]
    return R
    
#Grouping by 'PostalCode' and 'Borough' converting the rest into a list
codes_df = codes_df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: x.tolist())

#converting the list into a comma separated string
codes_df['Neighborhood'] = codes_df['Neighborhood'].apply(listtostr)
codes_df.head()

  PostalCode      Borough                               Neighborhood
0        M1B  Scarborough                           Rouge , Malvern
1        M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [6]:
#the final shape of the dataframe
codes_df.shape

(103, 3)