In [1]:
import numpy as np
import pandas as pd

# Data preprocesing

The data on Toronto Postal Codes was retrieved from the wikipedia entry and loaded into a `.csv` file

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
#loading the csv flie and renaming the columns
codes_df = pd.read_csv('Toronto_Postal_Codes_Wikipedia.csv', header=None)
codes_df.columns = ['PostalCode', 'Borough', 'Neighborhood']

#removing the 'Not assigned' entries for the 'Borough' column
codes_df.drop(codes_df[codes_df['Borough']=='Not assigned'].index, inplace=True)
#There are no 'Not assigned' entries left for 'Neighborhood'

#a function to convert a list into a string separated with commas
def listtostr(L):
    N = len(L)
    if N==0:
        return ''
    R = L[0]
    for i in range(1,N):
        R = R + ', ' + L[i]
    return R
    
#Grouping by 'PostalCode' and 'Borough' converting the rest into a list
codes_df = codes_df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: x.tolist())

#converting the list into a comma separated string
codes_df['Neighborhood'] = codes_df['Neighborhood'].apply(listtostr)

#the final shape of the dataframe
print("Size of the dataframe:", codes_df.shape)

codes_df.head()

Size of the dataframe: (103, 3)

  PostalCode      Borough                               Neighborhood
0        M1B  Scarborough                           Rouge , Malvern
1        M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [5]:
geo_df = pd.read_csv('Geospatial_Coordinates.csv')
geo_df.columns = ['PostalCode', 'Latitude', 'Longitude']
geo_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [8]:
new_df = pd.merge(codes_df, geo_df, on='PostalCode', how='left')
new_df.head(15)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge , Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek , Rouge Hill , Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park , Ionview , Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea , Golden Mile , Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest , Cliffside , Scarborough Village W...",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff , Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park , Scarborough Town Centre , Wexfor...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale , Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners , Sullivan , Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North , L'Amoreaux East , Milliken ,...",43.815252,-79.284577

In [10]:
new_df.shape

(103, 5)